@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:rgba(240, 240, 240, 0.24);
$sidebar-bg:#013b61;
// $sidebar-bg:#33a287;
$topbar-bg:$sidebar-bg;
$sidebar-fonts-color:#f0f0f0;
$card-bg:#fff;
$card-border:transparent;
$white:#fff;
$black:#000;
$border-color:#e6e6e6;
$table-border-color:#e6e6e6;
$fonts-color:rgb(54, 54, 54);
$primary:#000;
$success:#29bdb6;
$danger:#fa5167;
$warning:#fc6a60;
$info:#2cc3ff;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #fad05e);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fda09c);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fca063);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}