@import '../../../theme/conf';
.header-profile-wrapper{float: right}

.avatar-wrap {
    float:right;
    padding: 14px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 41px;
    margin-right:20px;
    @include transition(all .4s);
    .avatar {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        overflow: hidden;
        @include transition(all .4s);
        img {
            display: block;
            width: 100%;
            cursor: pointer;
        }
    }
    .user-info-wrap {
        padding: 2px 14px;
        width: 170px;
        height: auto;
        @include transition(all .4s);
    }
    .user-name,
    .user-post {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }
    .user-name {
        color: $sidebar-fonts-color;
        font-size: $lg-text;
    }
    .user-post {
        color: $primary;
        font-size: $sm-text;
        margin-top: 5px;
    }
}
.header-dropdown-content{
    width:325px;
}
::ng-deep div.mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
}
::ng-deep div.mat-menu-panel{
    width: 330px;
    max-width: 100%;
    position: relative;
    overflow: visible;
    margin-top: 15px;
}
::ng-deep .header-dropdown-content .fa-caret-up{
    position: absolute;
    top: -25px;
    right: 10px;
    width: 20px;
    height: 10px;
    z-index: 10;
    font-size: 40px;
    color: #fff;
}
