.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mat-raised-button:hover {
    background-color: green;
    color: white;
}

mat-icon {
    cursor: hand;
    cursor: pointer;
}

.mat-raised-button[_ngcontent-uxe-c24]:hover {
    background-color: green;
    color: white;
}

.col-md-1 m-t-11 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}
.norecord{
    font-size: 20px;
}