<!-- <div class="pages-top"></div>
<h1 class="text-center">Welcome</h1> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand">
        <img style="width: 190px;" src="assets/images/images.png" alt="cross">
    </a>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top:80px">
    <h3 class="text-center">Welcome</h3>

</div>