/* You can add global styles to this file, and also import other style files */

@import './app/shared/theme/conf.scss';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-profile-content .skills-wrap,
.user-profile-content h4,
.user-profile-content ul.contact-way-item {
    display: none;
}

.no-record-found {
    padding: 12px 0 11px 16px;
    margin-left: 43%;
}

.user-profile-content div.header-dropdown-btn {
    display: block;
}

table {
    width: 100%;
}

mat-card-content.mat-card-content {
    margin-top: 20px;
}

tr.mat-footer-row,
tr.mat-row {
    height: 40px !important;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $sidebar-bg;
}

.mat-form-field {
    display: block !important;
}

.multiselect-dropdown {
    overflow: inherit !important;
    overflow-x: hidden;
}

// .multiselect-dropdown .dropdown-btn {
//     border-radius: 0px !important;
//     border: 0px !important;
//     border-bottom: 1px solid #adadad !important;
// }
.daterangepicker {
    position: relative;
    border-radius: 6px;
    padding: 9px;
    border: 1px #adadad solid;
    font-size: 16px;
}

.m-t-11 {
    margin-top: 11px;
}

.md-drppicker.double {
    width: 630px !important;
}

.md-drppicker .btn.btn-default {
    margin-right: 11px !important;
}

.md-drppicker.drops-down-auto.ltr.shown.double.show-ranges {
    left: -281px !important;
}

input#calendar-input {
    height: 38px;
    width: 179px;
}

tr.mat-header-row {
    background-color: #003b61;
}

.mat-header-cell {
    color: white;
    font-size: 16px;
}

.badge {
    font-size: 90%;
    font-weight: 500;
}

.mat-table .badge {
    min-width: 77px;
    text-transform: uppercase;
}

tr.mat-header-row {
    background-color: #003b61;
    height: 35px !important;
}

.mat-header-cell {
    color: white;
    font-size: 16px;
}

.badge {
    font-size: 90%;
    font-weight: 500;
}

.mat-table .badge {
    min-width: 77px;
    text-transform: uppercase;
}

.mat-card {
    padding: 7px !important;
}

mat-card-header {
    background-color: #003b61;
    color: white;
}

.mat-card-header-text {
    margin: 7px 0px 0px 11px !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .05);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

tr.mat-footer-row,
tr.mat-row {
    height: 35px !important;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 18px;
}

.ng-image-slider .ng-image-slider-container .main {
    width: 550px !important;
}

.mat-dialog-container {
    padding: 7px !important;
    border-radius: 3px !important;
    // height: 560px !important;
}

.mat-horizontal-stepper-header {
    height: 36px !important;
}

mat-horizontal-stepper {
    max-height: 560px !important;
}

.mat-horizontal-content-container {
    padding: 0 12px 24px 12px !important;
}