.multiselect-item-checkbox[_ngcontent-nnq-c30] input[type=checkbox][_ngcontent-nnq-c30] + div[_ngcontent-nnq-c30]:before {
    // box-sizing: content-box;
    // content: "";
    // color: #337ab7;
    // position: absolute;
    // top: 50%;
    // left: 0;
    // width: 14px;
    // height: 14px;
    // margin-top: -9px;
    // border: 2px solid #337ab7;
    // text-align: center;
    // transition: .4s;
    display: none;
    visibility: hidden;
    :before {
        display: none;
    }
    ::before {
        display: none;
    }
}
::before {
    display: none;
}
:before {
    display: none;
}
.save{
    top: -10px;left: -2px;
}
.cancal{
    top: -10px;
}
.continue{
    margin-right: 12px;
}